$gray-lightest:               hsl(0, 0%, 90%) !default;

$text-color--muted:           hsl(0, 0%, 50%) !default;

$border-color:                hsl(0, 0%, 60%) !default;

$font-size--small:            0.75em !default;

$line-height:                 1.375em !default;

$field-padding-vertical:      0.3em !default;
$field-padding-horizontal:    0.7em !default;

table,
.table {

  $block-name:                &; // #{$block-name}__element

  border-collapse: collapse;
  width: 100%;
  border: 1px solid $divider-color;
  margin: $line-height 0;

  caption {
    padding-bottom: 0.4em;
    text-align: initial;
    caption-side: top;
    font-size: $font-size-sm;
    line-height: 1em;
    color: $text-muted;
  }

  td,
  th {
    padding: $field-padding-vertical $field-padding-horizontal;
    vertical-align: top;
    border-bottom: 1px solid $divider-color;

    &:not(:first-child) {
      border-left: 1px solid $divider-color;
    }
  }

  th {
    text-align: left;
  }
}
