.page-header {
  position: relative;
  z-index: 10;
  padding: 12px 0;
  background-color: $white;

  @media (min-width: $screen-xl) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  $block-name:                &; // #{$block-name}__element

  &__inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px;

    @media (min-width: $screen-md) {
      padding-left: 0;
      padding-right: 0;
    }

    @media (min-width: $screen-xl) {
      flex: 0 0 160px;
      display: inline-flex;
    }

    .burger {
      flex: 0 0 56px;
      position: relative;
      transform: translateX(8px);

      @media (min-width: $screen-md) {
        transform: translateX(16px);
      }
    }
  }

  &__nav-wrapper {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 24px;
    padding-bottom: 12px;
    background-color: $white;
    will-change: auto;

    @media (min-width: $screen-md) {
      padding-left: 24px;
      padding-right: 24px;
    }

    @media (min-width: $screen-xl) {
      flex: 1 0 auto;
      position: static;
      padding: 0;
      margin-left: 40px;
    }

    &::before {
      display: block;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 1px;
      background-color: $main-color;
    }

    &.collapse {

      @media (min-width: $screen-xl) {
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }
    }
  }

  &__download {

    @media (max-width: $screen-xl - 1) {
      width: 100%;
      margin-bottom: 16px;
    }

    @media (min-width: $screen-xl) {
      order: 1;
      margin-left: auto;
    }
  }

  &--sticky {

    &.is-active {
      position: sticky;
      top: 0;
    }
  }
}
